.contact {
    background-color: #2a2a24;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    background-color: #ddd !important;
    color: #fff;
    padding: 0px !important;
    border-color: #A9A28F;
}

.footer-col {
    text-align:center;
    margin-top:5px;
}

.contact input, textarea {
    margin: 2px;
    width: 100%;
    font-color: #999;
}

/* Overried Carousel settings */
header.carousel {
    height: 50%;
}

.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}
.carousel-control.left {
    background-image: none !important;
    filter: none !important;
}
.carousel-inner {
    background-color: #6fa5be;
}
.carousel-caption {
  position: absolute;
  width: 30%;
  right: 15%;
  top: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


/* override navbar */
.navbar-inverse {
    background-color: #FFF;
    border-color: #A9A28F;
}

/* misc */
.well {
    padding: 10px;
}

.wskanava {
    background-color: #ee8266;
}

.supportedbanks {
    color: #eee;
    background-color: #6e6e68;
    text-align: center;
    box-shadow: 0px 0px 15px #888888;
    -webkit-box-shadow: 0px 0px 15px #888888;
}

.shadow {
    box-shadow: 0px 0px 5px #888888;
    -webkit-box-shadow: 0px 0px 5px #888888;
}

.supportedbanks p {
    padding-top: 8px;
}

.panel-body {
    background-color: #ddd;
}

.facepalm {
    padding-bottom: 5px;
}

