/* Overried Carousel settings */
header.carousel {
    height: 50%;
}

/* MEDIA */

/* Smartphones (portrait and landscape)  */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* Overried Carousel settings */
    header.carousel {
	height: 100% !important;
    }
    
}

/* Smartphones (landscape)  */
@media only screen and (min-width : 321px) {
}

/* Smartphones (portrait)  */
@media only screen and (max-width : 320px) {
    
}

/* iPads (portrait and landscape)  */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    
}

/* iPads (landscape)  */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    
}

/* iPads (portrait)  */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    
}

/* iPad 3 (landscape)  */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    
}

/* iPad 3 (portrait)  */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    
}

/* Desktops and laptops  */
@media only screen  and (min-width : 1224px) {
    
}

/* Large screens  */
@media only screen  and (min-width : 1824px) {
    
}

/* iPhone 4 (landscape)  */
@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    
}

/* iPhone 4 (portrait)  */
@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    
}

/* iPhone 5 (landscape)  */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Overried Carousel settings */
    header.carousel {
	height: 100% !important;
    }
}

/* iPhone 5 (portrait)  */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    
}

/* iPhone 6 (landscape)  */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Overried Carousel settings */
    header.carousel {
	height: 100% !important;
    }
    
}

/* iPhone 6 (portrait)  */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    
}

/* iPhone 6+ (landscape)  */
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Overried Carousel settings */
    header.carousel {
	height: 100% !important;
    }
    
}

/* iPhone 6+ (portrait)  */
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    
}

/* Samsung Galaxy S3 (landscape)  */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Overried Carousel settings */
    header.carousel {
	height: 100% !important;
    }
    
}

/* Samsung Galaxy S3 (portrait)  */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    
}

/* Samsung Galaxy S4 (landscape)  */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Overried Carousel settings */
    header.carousel {
	height: 100% !important;
    }
    
}

/* Samsung Galaxy S4 (portrait)  */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    
}

/* Samsung Galaxy S5 (landscape)  */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Overried Carousel settings */
    header.carousel {
	height: 100% !important;
    }
    
}

/* Samsung Galaxy S5 (portrait)  */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    
}


/* narrower desktop browser */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



/* Misc */
.contact {
    background-color: #2a2a24;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact input, textarea {
    color: #888;
}

.footer {
    background-color: #ddd !important;
    color: #fff;
    padding: 0px !important;
    border-color: #A9A28F;
}

.footer-col {
    text-align:center;
    margin-top:5px;
}

.contact input, textarea {
    margin: 2px;
    width: 100%;
    font-color: #999;
}

.blue-text {
    color: #0066FF;
}

.panel-heading-first {
    background-color: #6fa5be !important;
}
.panel-heading-second {
    background-color: #ef9872 !important;
}
.panel-heading-third {
    background-color: #adc16f !important;
}

.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.carousel-control.left {
    background-image: none !important;
    filter: none !important;
}

.carousel-first {
    background-color: #6fa5be;
}

.carousel-second {
    background-color: #ef9872;
}

.carousel-third {
    background-color: #adc16f;
}

.carousel-caption {
    position: absolute;
    /* width: 80%; */
    margin-right: 0%;
    top: 2%;
    margin-left: 0%;
    z-index: 10;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    color: #fff;
    text-align: left;
    text-shadow: 2px 2px 2px #000;
}

.panel-heading, .page-header {
    text-shadow: 0px 1px 2px #777;
}


/* override navbar */
.navbar-inverse {
    background-color: #fff;
    border-color: #A9A28F;
}

/* misc */
.well {
    padding: 10px;
}

.wskanava {
    background-color: #ee8266;
}

.supportedbanks {
    color: #eee;
    background-color: #6e6e68;
    text-align: center;
    box-shadow: 0px 0px 15px #888888;
    -webkit-box-shadow: 0px 0px 15px #888888;
}

.shadow {
    box-shadow: 0px 0px 5px #888888;
    -webkit-box-shadow: 0px 0px 5px #888888;
}

.supportedbanks p {
    padding-top: 8px;
}

.panel-title {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.panel-body {
    background-color: #fff;
    text-align:left;
}

.facepalm {
    padding-bottom: 5px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}

